input {
  border: none;
  outline: none;
  cursor: text;
  color: #0b0b0b;
  font-feature-settings: "liga" off, "clig" off;
  font-family: SUIT;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem; /* 137.5% */
  letter-spacing: -0.01875rem;
  background: #f1f3f6;
  width:100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f1f3f6 inset;
  -webkit-text-fill-color: #0b0b0b;
}

input:focus::placeholder {
  opacity: 0 !important;
}

.auth-container {
  display: flex; /* flex 컨테이너로 설정 */
  flex-direction: column; /* 자식 요소들이 세로로 배치되도록 설정 */
  height: 100%; /* 부모 요소가 화면 높이를 차지하도록 설정 */
  flex-grow: 1;
  background-color: white;
  width: 94%;
  justify-content: start; /* 자식 요소들이 상단부터 배치되도록 설정 */
  margin: 0 auto;
  padding: 0;
  border: none;
}

/* 텍스트 있는 post 버튼 css */

.verify-button {
  height: 2.125rem;
  flex-shrink: 0;
  border-radius: 3.125rem;
  background: #1e252f;
}
.verify-button-send {
  width: 3.875rem;
}
.verify-button-verify {
  width: 4.375rem;
}

.auth-button {
  display: flex;
  width: 100%;
  height: 3.375rem;
  padding: 0.75rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
  margin-top: auto;
  margin-bottom: 0.75rem;
}
.auth-button-id {
  background: #0a0c10;
}
.auth-button-google {
  background: #e9ebf3;
}

.auth-input-label {
  width: 100%;
  height: 3.375rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
  padding: 0.75rem 1.25rem;
  background: #f1f3f6;
  color: #0b0b0b;
  font-feature-settings: "liga" off, "clig" off;
  font-family: SUIT;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem; /* 137.5% */
  letter-spacing: -0.01875rem;
}

input.auth-placeholder::placeholder {
  color: #5a6e8c;
  font-feature-settings: "liga" off, "clig" off;
  font-family: SUIT;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem; /* 137.5% */
  letter-spacing: -0.01875rem;
}

.signup-text {
  font-feature-settings: "liga" off, "clig" off;
  font-family: SUIT;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem; /* 137.5% */
  letter-spacing: -0.01875rem;
}

.signup-text-gray {
  color: #5a6e8c;
}
.signup-text-black {
  color: #1e252f;
}

.profile-dropdown-button {
  border-radius: 6.25rem;
  border: 1px solid #0a0c10;
  background: #fff;
  height: 2.5rem;
  flex-shrink: 0;
  color: #1e252f;
  padding-left: 1rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-list {
  width: 100%;
  max-height: 15.625rem;
  overflow-y: auto;
  border-radius: 1rem 1rem 1rem 1rem;
  border-top: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.dropdown-item {
  display: flex;
  align-items: center; /* 세로 방향 가운데 정렬 */
  justify-content: space-between; /* 가로 방향 왼쪽 정렬 */
  padding-left: 1.53rem;
  width: 100%;
  height: 3.125rem;
  border-bottom: 0.5px solid #000;
  background: #fff;
  color: #000;
  font-feature-settings: "liga" off, "clig" off;
  font-family: SUIT;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dropdown-item-top {
  border-radius: 1rem 1rem 0rem 0rem;
}
.dropdown-item-bottom {
  border-radius: 0rem 0rem 1rem 1rem;
}
.dropdown-badge-container {
  background-color: white;
  display: flex; /* Flexbox 사용 */
  flex-wrap: wrap; /* 줄바꿈 허용 */
  gap: 0.1rem;
}

.dropdown-badge {
  display: inline-block;
  border-radius: 6.25rem;
  border: 1px solid #0a0c10;
  height: 2.5rem;
  flex-shrink: 0;
  color: #1e252f;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-badge-green {
  background: #cff7ca;
  padding-right: 1rem;
}
.dropdown-badge-red {
  background: #ffc4b3;
  padding-right: 1rem;
}
.dropdown-badge-none {
  background: white;
  padding-right: 1rem;
}
.allergies-title {
  color: var(--Gray-gray-900, #0b0b0b);
  font-feature-settings: "liga" off, "clig" off;
  font-family: SUIT;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 0.5rem;
}
.allergies-button {
  color: var(--Gray-gray-900, #0b0b0b);
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  border-radius: 6.25rem;
  border: 1px solid #1e252f;
}
.login-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem; /* 137.5% */
  letter-spacing: -0.01875rem;
}
.login-text-id {
  color: #fff;
}
.login-text-google {
  color: #000;
}

.login-logo {
  color: var(--Gray-gray-900, #0b0b0b);
  font-family: SUIT;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.login-logo-small {
  color: var(--Gray-gray-900, #0b0b0b);
  font-family: SUIT;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.set-profile-logo {
  color: var(--Gray-gray-900, #0b0b0b);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: SUIT;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.sign-up-logo {
  color: var(--Gray-gray-900, #0b0b0b);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
}
.no-account {
  font-size: 0.875rem;
  font-style: normal;
  color: #5b6a79;
  font-weight: 400;
}
.sign-up-link {
  color: #000;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
}
.sign-up-button-text {
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem; /* 110% */
  letter-spacing: -0.01875rem;
}

.validate-error-text {
  padding-left: 1.25rem;
  color: #fa0c38;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.login-form-text-sm {
  color: #5b6a79;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  text-align: right;
}

input[type="checkbox"] {
  all: unset; /* 기본 스타일 초기화 */
  width: 0.875rem;
  height: 0.875rem;
  flex-shrink: 0;
  border-radius: 0.125rem;
  border: 1px solid #000;
  background-color: white; /* 기본 배경 색 */
  position: relative; /* 체크 표시를 추가할 수 있도록 설정 */
  cursor: pointer; /* 클릭할 수 있도록 설정 */
}

/* 체크박스에 체크 표시 추가 */
input[type="checkbox"]:checked {
  background-color: black;
}
input[type="checkbox"]:checked::before {
  content: "\2713";
  position: absolute;
  color: white; /* 체크 표시 색 */
  font-size: 0.75rem; /* 체크 표시 크기 */
  top: 50%; /* 세로 중앙 */
  left: 50%; /* 가로 중앙 */
  transform: translate(-50%, -50%); /* 가운데 정렬 */
}

/* 마우스 호버 상태 */
input[type="checkbox"]:hover {
  opacity: 0.6; /* 마우스 호버 시 투명도 조정 */
}

/* 클릭 중인 상태 */
input[type="checkbox"]:active {
  opacity: 0.6; /* 클릭 중일 때 투명도 조정 */
}

.dropdown-checkbox {
  padding-right:1rem;
}

.camera-circle {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  position: absolute;
  right: 0rem;
  bottom: 0.25rem;
  overflow: visible;
}
.camera-icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  overflow: visible;
  transform: translate(-50%, -50%);
}

.label-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem; /* 137.5% */
  letter-spacing: -0.01875rem;
}

.terms-h2 {
  font-size: 1.25rem;
  font-weight: 700;
  font-style: initial;
}
.terms-wrapper {
  color: black;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.privacy-policy {
  max-height: 0;
  overflow-y: auto;
  transition: height 0.5s ease-in-out;
}
.privacy-policy.open {
  max-height: 25rem;
}
